

<div class="w-full bg-blue-400 dark:bg-wickeddark">


  
  <section class="max-w-lg px-4 py-20 mx-auto space-y-1 text-center">
    <img class="mx-auto sm:w-1/2" src="https://picsum.photos/500/500" />
    <h2 class="max-w-5xl text-2xl font-bold leading-none tracking-tighter text-neutral-600 md:text-5xl lg:text-6xl lg:max-w-7xl">Bienvenido !</h2>
    <p class="max-w-5xl text-1x1 font-bold leading-none tracking-tighter text-neutral-600 md:text-2xl lg:max-w-1xl">
      Si deseas registrarte pulsa el boton.
    </p>
    <div class="mt-4 sm:mt-0 lg:ml-3 revue-form-actions">
      <a href="/formu" class="block w-full px-5 py-3 text-base font-medium text-white bg-blue-600 border border-transparent rounded-lg shadow hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 sm:px-10">Registrarme </a>
    </div>
  </section>
  
  <router-outlet></router-outlet>

</div>

